<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jxrwxkxxbjlb">
	<select id="queryByParams" parameterType="java.util.HashMap"
		resultType="Jxrwxkxxbjlb">
		select * from mitu_jxrwxkxxbjlb
		<where>
			<if test="params !=null">
				<if test="params.condition != null and params.condition !=''">
					and
					(
					bjmc like CONCAT('%',#{params.condition},'%')
					)
				</if>

				<if test="params.subSql != null and params.subSql!=''">
					and ${params.subSql}
				</if>
			</if>
		</where>
	</select>

	<select id="getById" parameterType="String" resultType="Jxrwxkxxbjlb">
		select *
		from mitu_jxrwxkxxbjlb where id=#{id}
	</select>

	<update id="update" parameterType="Jxrwxkxxbjlb">
		update mitu_jxrwxkxxbjlb
		<set>
			<if test="jxrwid != null and jxrwid != ''">
				jxrwid=#{jxrwid},
			</if>
			<if test="xkxxid != null and xkxxid != ''">
				xkxxid=#{xkxxid},
			</if>
			<if test="bjdm != null and bjdm != ''">
				bjdm=#{bjdm},
			</if>
			<if test="remark != null and remark != ''">
				remark=#{remark},
			</if>
			<if test="oprybh != null and oprybh != ''">
				oprybh=#{oprybh},
			</if>
		</set>
		where id=#{id}
	</update>

	<insert id="save" parameterType="Jxrwxkxxbjlb">
		insert into mitu_jxrwxkxxbjlb(
			jxrwid,
			xkxxid,
			bjdm,
			remark,
			oprybh)
		values(
			#{jxrwid},
			#{xkxxid},
			#{bjdm},
			#{remark},
			#{oprybh}
		)
	</insert>

	<delete id="deleteByPrimaryKeys" parameterType="java.util.List">
		delete from mitu_jxrwxkxxbjlb where id in
		<foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
			#{id,jdbcType=INTEGER}
		</foreach>
	</delete>
</mapper>
