<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="role">
	<select id="queryByParams" parameterType="java.util.HashMap"
		resultType="Role">
		select * from mitu_role
		<where>
			<if test="params !=null">
				<if test="params.condition != null and params.condition !=''">
					and
					(
					name like CONCAT('%',#{params.condition},'%')
					)
				</if>

				<if test="params.subSql != null and params.subSql!=''">
					and ${params.subSql}
				</if>
			</if>
		</where>
	</select>

	<select id="getById" parameterType="String" resultType="Role">
		select *
		from mitu_role where id=#{id}
	</select>

	<update id="update" parameterType="Role">
		update mitu_role
		<set>
			<if test="name != null and name != ''">
				name=#{name},
			</if>
			<if test="desc != null and desc != ''">
				desc=#{desc},
			</if>
		</set>
		where id=#{id}
	</update>

	<insert id="save" parameterType="Role">
		insert into mitu_role(
			name,
			desc)
		values(
			#{name},
			#{desc}
		)
	</insert>

	<delete id="deleteByPrimaryKeys" parameterType="java.util.List">
		delete from mitu_role where id in
		<foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
			#{id,jdbcType=INTEGER}
		</foreach>
	</delete>
</mapper>
