<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<select id="queryByParams" parameterType="java.util.HashMap"
		resultType="User">
		select * from mitu_user
		<where>
			<if test="params !=null">
				<if test="params.condition != null and params.condition !=''">
					and (name like CONCAT('%',#{params.condition},'%'))
				</if>

				<if test="params.subSql != null and params.subSql!=''">
					and ${params.subSql}
				</if>
			</if>
		</where>
	</select>

	<select id="getById" parameterType="String" resultType="User">
		select *
		from mitu_user where id=#{id}
	</select>

	<update id="update" parameterType="User">
		update mitu_user
		<set>
			<if test="username != null and username != ''">
				username=#{username},
			</if>
			<if test="password != null and password != ''">
				password=#{password},
			</if>
			<if test="number != null and number != ''">
				number=#{number},
			</if>
			<if test="phone != null and phone != ''">
				phone=#{phone},
			</if>
			<if test="apptoken != null and apptoken != ''">
				apptoken=#{apptoken},
			</if>
			<if test="wxid != null and wxid != ''">
				wxid=#{wxid},
			</if>
			<if test="mmcwcs != null and mmcwcs != ''">
				mmcwcs=#{mmcwcs},
			</if>
			<if test="status != null and status != ''">
				status=#{status},
			</if>
			<if test="last_login_time != null and last_login_time != ''">
				last_login_time=#{last_login_time},
			</if>
			<if test="last_login_ip != null and last_login_ip != ''">
				last_login_ip=#{last_login_ip},
			</if>
			<if test="login_count != null and login_count != ''">
				login_count=#{login_count},
			</if>
			<if test="type != null and type != ''">
				type=#{type},
			</if>
			<if test="fk != null and fk != ''">
				fk=#{fk},
			</if>
			<if test="roleId != null and roleId != ''">
				roleId=#{roleId},
			</if>
		</set>
		where id=#{id}
	</update>

	<insert id="save" parameterType="User">
		insert into mitu_user(
		username,
		password,
		number,
		phone,
		apptoken,
		wxid,
		mmcwcs,
		status,
		last_login_time,
		last_login_ip,
		login_count,
		type,
		fk,
		roleId)
		values(
		#{username},
		#{password},
		#{number},
		#{phone},
		#{apptoken},
		#{wxid},
		#{mmcwcs},
		#{status},
		#{last_login_time},
		#{last_login_ip},
		#{login_count},
		#{type},
		#{fk},
		#{roleId}
		)
	</insert>

	<delete id="deleteByPrimaryKeys" parameterType="java.util.List">
		delete from mitu_user where id in
		<foreach collection="list" item="id" index="index" open="("
			close=")" separator=",">
			#{id,jdbcType=INTEGER}
		</foreach>
	</delete>

	<select id="queryByName" parameterType="String" resultType="User">
		select *
		from mitu_user where username=#{username} or number=#{username} or phone =#{username} limit 0,1
	</select>
</mapper>
