<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyxx">
	<select id="query" parameterType="java.util.HashMap" resultType="Xyxx">
		select * from mitu_xyxx
	</select>

	<select id="getById" parameterType="String" resultType="Xyxx">
		select *
		from mitu_xyxx where id=#{id}
	</select>
	<update id="update" parameterType="Xyxx">
		update mitu_xyxx
		<set>
			<if test="bsdm != null and bsdm != ''">
				bsdm=#{bsdm},
			</if>
			<if test="xydm != null and xydm != ''">
				xydm=#{xydm},
			</if>
			<if test="xymc != null and xymc != ''">
				xymc=#{xymc},
			</if>
			<if test="remark != null and remark != ''">
				remark=#{remark},
			</if>
			<if test="dqxn != null and dqxn != ''">
				dqxn=#{dqxn},
			</if>
			<if test="dqxq != null and dqxq != ''">
				dqxq=#{dqxq},
			</if>
			<if test="xkxn != null and xkxn != ''">
				xkxn=#{xkxn},
			</if>
			<if test="xkxq != null and xkxq != ''">
				xkxq=#{xkxq},
			</if>
		</set>
		where id=#{id}
	</update>

	<insert id="save" parameterType="Xyxx">
		insert into mitu_xyxx(
			bsdm,
			xydm,
			xymc,
			remark,
			dqxn,
			dqxq,
			xkxn,
			xkxq)
		values(
			#{bsdm},
			#{xydm},
			#{xymc},
			#{remark},
			#{dqxn},
			#{dqxq},
			#{xkxn},
			#{xkxq}
		)
	</insert>

	<delete id="deleteByPrimaryKeys" parameterType="java.util.List">
		delete from mitu_xyxx where id in
		<foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
			#{id,jdbcType=INTEGER}
		</foreach>
	</delete>
</mapper>
